body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#header {
    color: blueviolet;
    text-align: center;
}

.company {
    border-collapse: collapse;
    width: 40%;
    border: 1px solid black;
    font-size: 16px;
}

.title1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    border: 1px solid black;
    width: 20%;
    text-align: center;
}

.title2 {
    color: blue;
    border: 1px solid black;
    width: 10%;
    text-align: center;
}

p {
    font-size: 18px;
}